.App {
  /* text-align: center; */
}

/* .Header {
  position: fixed;
  height: 100px;
  background-color: bisque;
}

.Balance {
  background-color: cadetblue;
}

.Strategies {
  background-color:darkcyan;
} */